"*":
  "Sublime-Style-Column-Selection":
    selectKeyTrigger: "Ctrl"
  "atom-beautify":
    html:
      unformatted: [
        "pre"
        "code"
      ]
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      default_beautifier: "ESLint Fixer"
      end_with_newline: true
      keep_array_indentation: true
    json: {}
    vue:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      end_with_newline: true
      keep_array_indentation: true
      unformatted: [
        "pre"
        "code"
      ]
      wrap_attributes: "force"
      wrap_line_length: 120
  "atom-toolbar":
    visible: false
  core:
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "Thumbs.db"
      ".codekit-cache"
      "bower_components"
      "node_modules"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 15
    preferredLineLength: 120
    tabLength: 4
  "exception-reporting":
    userId: "91b1bb41-37ae-4f64-b5b9-5b4564d96336"
  fonts:
    fontFamily: "Bitstream Vera Sans Mono"
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "node_modules"
    ]
  "linter-eslint":
    lintHtmlFiles: true
  "linter-ui-default":
    panelHeight: 141
    showPanel: true
  minimap:
    absoluteMode: true
  "platformio-ide-terminal":
    core:
      shell: "/bin/zsh"
    style: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 4
    neverCloseUnsaved: true
